.footer{
    background: rgba(190, 189, 189, 0.514);
    padding: 20px;
    text-align: center;
    width:100%;
    position: absolute;
    bottom:0px;
}
.footer p{
    color:rgb(1, 1, 1);
    font-size: 20px;
}